.crew-container {
  height: 100vh;
  background-image: url("../../public//images/crew/background-crew-desktop.jpg");
  background-size: cover;
  width: 100%;
  background-position: center;
  justify-content: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
.crew-right {
  display: flex;

  flex: 0.4;
  align-items: end;
}
#crewimg {
  width: 568.07px;
  height: 712px;
  left: 734.93px;
  top: 198px;
}
.crew-left {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  flex: 0.4;
}
.barlow400 {
  font-family: "Barlow Condensed";
  font-weight: 400;
}
.name {
  line-height: 64px;
  font-family: "Bellefair";
  font-weight: 400;
}
.member-info {
  width: 500px;
}
.role {
  line-height: 37px;
}
.bio {
  font-family: "Barlow";
  font-weight: 400;
}
.navigator {
  display: flex;
  justify-content: space-evenly;
}
.crew-nav {
  margin-right: 32px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
}.active {
  margin-right: 32px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #979797;
}
